amqp==1.4.9
anyjson==0.3.3
begins==0.9
billiard==3.3.0.23
celery==3.1.16
certifi==2020.12.5
chardet==4.0.0
contextlib2==0.5.5
cssselect==1.0.3
cyordereddict==1.0.0
defusedxml==0.5.0
dict2xml==1.3
dj-database-url==0.4.0
Django==1.8.19
django-braces==1.13.0
django-celery==3.1.16
django-cors-headers==2.0.1
django-crispy-forms==1.6.1
django-db-readonly==0.3.2
-e git+https://github.com/dimagi/django-digest@0eb1c921329dd187c343b61acfbec4e98450136e#egg=django_digest
django-debug-toolbar==1.8
django-filter==0.7
django-guardian==1.4.1
django-nose==1.4.2
django-oauth-toolkit==0.9.0
django-pure-pagination==0.3.0
django-registration-redux==1.3
django-reversion==2.0.8
django-taggit==0.18.0
django-templated-email==0.4.9
django-unused==0.1.4
djangorestframework==3.3.2
djangorestframework-csv==1.4.1
djangorestframework-expiring-authtoken==0.1.4
djangorestframework-jsonp==1.0.2
djangorestframework-xml==1.3.0
docutils==0.14
dpath==1.2.post70
elaphe==0.5.6
#formpack==1.1 #doesn't exist in pip anymore needs to be copied-in manually
-e git+https://github.com/kobotoolbox/formpack@6f40f9bfcd4ddd8641365473acec6e56d9d22ad6#egg=formpack
funcsigs==1.0.2
gdata==2.0.18
httmock==1.2.2
httplib2==0.9
idna==2.10
jdcal==1.4
Jinja2==2.10
jsonfield==0.9.23
kombu==3.0.37
librabbitmq==1.5.2
lxml==2.3.4
Markdown==2.5
MarkupSafe==1.0
mock==1.0.1
modilabs-python-utils==0.1.5
nose==1.3.7
numpy==1.15.2
oauthlib==1.0.1
openpyxl==2.0.5
pandas==0.23.4
path.py==8.1.2
Pillow==2.5.3
pkg-resources==0.0.0
poster==0.8.1
psycopg2==2.8
pybamboo==0.5.8.1
PyExcelerate==0.6.7
pyfcm==1.4.7
pymongo==2.7.2
pyquery==1.2.11
python-dateutil==2.7.3
python-digest==1.7
-e git+https://github.com/onaio/python-json2xlsclient.git@5a39387752d819cb6387f75569dbea9a5288aa6f#egg=python_json2xlsclient
python-slugify==1.2.6
pytz==2016.10
-e git+https://github.com/kobotoolbox/pyxform.git@49bf2b7f4ccde6602496b12cfcb37b41718db6e8#egg=pyxform
raven==6.1.0
recaptcha-client==1.0.6
requests==2.4.1
savReaderWriter==3.4.2
simplejson==2.6.2
six==1.11.0
statistics==1.0.3.5
transifex-client==0.13.4
unicodecsv==0.9.4
Unidecode==1.0.22
urllib3==1.23
xlrd==0.8.0
XlsxWriter==1.1.8
xlwt==0.7.5
http://www.decalage.info/files/HTML.py-0.04.zip
